schemas/xtrpg-system.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema'
           targetNamespace='urn:xmpp:xtrpg:system:0'
           xmlns='urn:xmpp:xtrpg:system:0'
           elementFormDefault='qualified'>

	<xs:element name='system-manifest' type='systemManifest_type' />







	<xs:complexType name='systemManifest_type'>
		<xs:sequence>
			<xs:element name='attributes' type='attributes_type' minOccurs='0' maxOccurs='1' />
		</xs:sequence>
		<xs:attribute name="urn" type='xs:string' use='required' />
	</xs:complexType>

	<xs:complexType name='attributes_type'>
		<xs:sequence>
			<xs:element name='integer' type='numberAttribute_type' minOccurs='0' maxOccurs='unbounded' />
			<xs:element name='decimal' type='numberAttribute_type' minOccurs='0' maxOccurs='unbounded' />
			<xs:element name='string' type='stringAttribute_type' minOccurs='0' maxOccurs='unbounded' />
			<xs:element name='boolean' type='booleanAttribute_type' minOccurs='0' maxOccurs='unbounded' />
		</xs:sequence>
	</xs:complexType>



	<xs:complexType name='numberAttribute_type'>
		<xs:sequence>
			<xs:element name='calculation' type='calculation_type' minOccurs='0' maxOccurs='1' />
			<xs:element name='constraints' type='tNumericalConstraints' minOccurs='0' maxOccurs='1' />
		</xs:sequence>
		<xs:attribute name="id" type='xs:string' use='required' />
	</xs:complexType>

	<xs:complexType name='stringAttribute_type'>
		<xs:attribute name="id" type='xs:string' use='required' />
	</xs:complexType>

	<xs:complexType name='booleanAttribute_type'>
		<xs:attribute name="id" type='xs:string' use='required' />
	</xs:complexType>

	<xs:complexType name='calculation_type'>
		<xs:sequence>
			<xs:group ref='gMathematicalOperations' minOccurs='1' maxOccurs='1' />
		</xs:sequence>
	</xs:complexType>

	<!-- Numerical constraints -->
	<xs:complexType name='tNumericalConstraints'>
		<xs:sequence>
			<!-- Min -->
			<xs:element name='min'>
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:group ref='gMathematicalOperations' minOccurs='1' maxOccurs='1' />
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<!-- Max -->
			<xs:element name='max'>
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:group ref='gMathematicalOperations' minOccurs='1' maxOccurs='1' />
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<!-- Default -->
			<xs:element name='default'>
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:group ref='gMathematicalOperations' minOccurs='1' maxOccurs='1' />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<!-- Mathematical Expressions -->
	<xs:group name='gMathematicalOperations'>
		<xs:annotation>
			<xs:documentation></xs:documentation>
		</xs:annotation>

		<xs:choice>
			<!-- Add -->
			<xs:element name='add' type='tContainsTwoOrMoreMathematicalOperations'>
				<xs:annotation>
					<xs:documentation>Computes the mathematical sum of multiple child elements.</xs:documentation>
				</xs:annotation>
			</xs:element>

			<!-- Subtract -->
			<xs:element name='subtract' type='tContainsTwoOrMoreMathematicalOperations'>
				<xs:annotation>
					<xs:documentation>Computes the mathematical difference by sequentially subtracting subsequent child elements from the first child element.</xs:documentation>
				</xs:annotation>
			</xs:element>

			<!-- Multiply -->
			<xs:element name='multiply' type='tContainsTwoOrMoreMathematicalOperations'>
				<xs:annotation>
					<xs:documentation>Computes the mathematical product of multiple child elements.</xs:documentation>
				</xs:annotation>
			</xs:element>

			<!-- Divide -->
			<xs:element name='divide' type='tContainsExactlyTwoMathematicalOperations'>
				<xs:annotation>
					<xs:documentation>Computes the mathematical quotient of two elements.</xs:documentation>
				</xs:annotation>
			</xs:element>

			<!-- Round -->
			<xs:element name='round' type='tRoundingOperation'>
				<xs:annotation>
					<xs:documentation>Adjusts the precision of a nested numerical mathematical elements to a specified number of decimal places using a designated rounding strategy.</xs:documentation>
				</xs:annotation>
			</xs:element>

			<!-- Min -->
			<xs:element name='min' type='tContainsTwoOrMoreMathematicalOperations'>
				<xs:annotation>
					<xs:documentation>Evaluates a sequence of child elements and returns the lowest numerical value among them</xs:documentation>
				</xs:annotation>
			</xs:element>

			<!-- Max -->
			<xs:element name='max' type='tContainsTwoOrMoreMathematicalOperations'>
				<xs:annotation>
					<xs:documentation>Evaluates a list of child expressions and returns the highest (maximum) numerical value among them.</xs:documentation>
				</xs:annotation>
			</xs:element>

			<!-- Clamp -->
			<xs:element name='clamp' type='tExactlyThreeMathematicalOperations'>
				<xs:annotation>
					<xs:documentation>Restricts a numerical value so that it falls within a specified minimum and maximum range.</xs:documentation>
				</xs:annotation>
			</xs:element>

			<!-- Absolute Value -->
			<xs:element name='abs' type='tExactlyOneMathematicalOperation'>
				<xs:annotation>
					<xs:documentation>Converts the provide value into a non-negative number, representing its distance from zero.</xs:documentation>
				</xs:annotation>
			</xs:element>

			<!-- Modulo: Returns the remainder of division -->
			<xs:element name='mod' type='tContainsExactlyTwoMathematicalOperations'>
				<xs:annotation>
					<xs:documentation>Returns the remainder after dividing the first argument by the second.</xs:documentation>
				</xs:annotation>
			</xs:element>

			<!-- Ternary Operation -->
			<xs:element name="ternary">
				<xs:annotation>
					<xs:documentation>Provides inline conditional branching logic for mathematical expressions, mimicking a traditional if-then-else programming structure</xs:documentation>
				</xs:annotation>

				<xs:complexType>
					<xs:sequence>
						<xs:group ref='gBinaryOperations' minOccurs='1' maxOccurs='1' />
						<xs:group ref='gMathematicalOperations' minOccurs='2' maxOccurs='2' />
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<!-- Raw Integer Value -->
			<xs:element name='integer'>
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>

				<xs:complexType>
					<xs:attribute name="value" type='xs:integer' use='optional' default='0' />
				</xs:complexType>
			</xs:element>

			<!-- Raw Decimal Value -->
			<xs:element name='decimal'>
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>

				<xs:complexType>
					<xs:attribute name="value" type='xs:decimal' use='optional' default='0.0' />
				</xs:complexType>
			</xs:element>

			<!-- Attribute Reference -->
			<xs:element name='attribute'>
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>

				<xs:complexType>
					<xs:attribute name="ref" type='xs:string' use='required' />
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:group>

	<!-- Unbounded Mathematical Expression Arguments-->
	<xs:complexType name='tContainsTwoOrMoreMathematicalOperations'>
		<xs:annotation>
			<xs:documentation></xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref='gMathematicalOperations' minOccurs='2' maxOccurs='unbounded' />
		</xs:sequence>
	</xs:complexType>

	<!-- One Mathematical Expression Arguments -->
	<xs:complexType name='tExactlyOneMathematicalOperation'>
		<xs:annotation>
			<xs:documentation></xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref='gMathematicalOperations' minOccurs='1' maxOccurs='1' />
		</xs:sequence>
	</xs:complexType>

	<!-- Two Mathematical Expression Arguments -->
	<xs:complexType name='tContainsExactlyTwoMathematicalOperations'>
		<xs:annotation>
			<xs:documentation></xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref='gMathematicalOperations' minOccurs='2' maxOccurs='2' />
		</xs:sequence>
	</xs:complexType>

	<!-- Three Mathematical Expression Arguments -->
	<xs:complexType name='tExactlyThreeMathematicalOperations'>
		<xs:annotation>
			<xs:documentation></xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref='gMathematicalOperations' minOccurs='3' maxOccurs='3' />
		</xs:sequence>
	</xs:complexType>

	<!-- Rounding Expression Arguments -->
	<xs:complexType name='tRoundingOperation'>
		<xs:annotation>
			<xs:documentation></xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref='gMathematicalOperations' minOccurs='1' maxOccurs='1' />
		</xs:sequence>
		<xs:attribute name="decimalPlaces" type='xs:integer' use='optional' default='0' />
		<xs:attribute name="method" use='optional' default='half-up'>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="floor">
						<xs:annotation>
							<xs:documentation>Rounds towards negative infinity.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="ceiling">
						<xs:annotation>
							<xs:documentation>Rounds towards positive infinity.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="up">
						<xs:annotation>
							<xs:documentation>Rounds away from zero.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="down">
						<xs:annotation>
							<xs:documentation>Rounds towards zero.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="half-up">
						<xs:annotation>
							<xs:documentation>Rounds towards the nearest neighbor; rounds up for midpoints. Standard school book rounding.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="half-down">
						<xs:annotation>
							<xs:documentation>Rounds towards the nearest neighbor; rounds down for midpoints..</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="half-even">
						<xs:annotation>
							<xs:documentation>Rounds towards the nearest neighbor; rounds toward even numbers for midpoints. Also known as Banker's rounding.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>



	<!-- Binary Operations -->
	<xs:group name="gBinaryOperations">
		<xs:annotation>
			<xs:documentation></xs:documentation>
		</xs:annotation>

		<xs:choice>
			<!-- And -->
			<xs:element name='and' type='tContainsTwoOrMoreBinaryOperations'>
				<xs:annotation>
					<xs:documentation>Evaluates to TRUE if all the child elements equate to TRUE</xs:documentation>
				</xs:annotation>
			</xs:element>

			<!-- Nand -->
			<xs:element name='nand' type='tContainsTwoOrMoreBinaryOperations'>
				<xs:annotation>
					<xs:documentation>Evaluates to TRUE if one or more of the child elements are equal to FALSE</xs:documentation>
				</xs:annotation>
			</xs:element>

			<!-- Or -->
			<xs:element name='or' type='tContainsTwoOrMoreBinaryOperations'>
				<xs:annotation>
					<xs:documentation>Evaluates to TRUE if one or more of the child elements equate to TRUE</xs:documentation>
				</xs:annotation>
			</xs:element>

			<!-- Nor -->
			<xs:element name='nor' type='tContainsTwoOrMoreBinaryOperations'>
				<xs:annotation>
					<xs:documentation>Evaluates to TRUE if all the child elements are equal to FALSE</xs:documentation>
				</xs:annotation>
			</xs:element>

			<!-- Xor -->
			<xs:element name='xor' type='tContainsTwoOrMoreBinaryOperations'>
				<xs:annotation>
					<xs:documentation>Evaluates to TRUE if there is an odd number of the child elements that equate to TRUE</xs:documentation>
				</xs:annotation>
			</xs:element>

			<!-- Xnor -->
			<xs:element name='xnor' type='tContainsTwoOrMoreBinaryOperations'>
				<xs:annotation>
					<xs:documentation>Evaluates to TRUE if there is an even number of the child elements that equate to TRUE</xs:documentation>
				</xs:annotation>
			</xs:element>

			<!-- Not -->
			<xs:element name='not' type='tContainsExactlyOneBinaryOperations'>
				<xs:annotation>
					<xs:documentation>Evaluates to TRUE if the child element is FALSE.</xs:documentation>
				</xs:annotation>
			</xs:element>

			<!-- Greater Than -->
			<xs:element name='greater-than' type='tContainsExactlyTwoMathematicalOperations'>
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
				<xs:attribute name="boundary" use='optional' default='exclusive'>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="inclusive">
								<xs:annotation>
									<xs:documentation>Rounds towards negative infinity.</xs:documentation>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="exclusive">
								<xs:annotation>
									<xs:documentation>Rounds towards positive infinity.</xs:documentation>
								</xs:annotation>
							</xs:enumeration>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:element>

			<!-- Less Than -->
			<xs:element name='less-than' type='tContainsExactlyTwoMathematicalOperations'>
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
				<xs:attribute name="boundary" use='optional' default='exclusive'>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="inclusive">
								<xs:annotation>
									<xs:documentation>Rounds towards negative infinity.</xs:documentation>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="exclusive">
								<xs:annotation>
									<xs:documentation>Rounds towards positive infinity.</xs:documentation>
								</xs:annotation>
							</xs:enumeration>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:element>

			<!-- Equals -->
			<xs:element name='equals' type='tContainsTwoOrMoreMathematicalOperations'>
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:element>

			<!-- Not Equals -->
			<xs:element name='not-equals' type='tContainsTwoOrMoreMathematicalOperations'>
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:element>

			<!-- Raw Binary Value -->
			<xs:element name='boolean'>
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>

				<xs:complexType>
					<xs:attribute name="value" type='xs:boolean' use='optional' default='0' />
				</xs:complexType>
			</xs:element>

			<!-- Boolean Attribute Reference -->
			<xs:element name='attribute'>
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>

				<xs:complexType>
					<xs:attribute name="ref" type='xs:string' use='required' />
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:group>

	<!-- Unbounded Binary Evaluation Arguments-->
	<xs:complexType name='tContainsTwoOrMoreBinaryOperations'>
		<xs:annotation>
			<xs:documentation></xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref='gBinaryOperations' minOccurs='2' maxOccurs='unbounded' />
		</xs:sequence>
	</xs:complexType>

	<!-- One Binary Evaluation Arguments -->
	<xs:complexType name='tContainsExactlyOneBinaryOperations'>
		<xs:annotation>
			<xs:documentation></xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref='gMathematicalOperations' minOccurs='1' maxOccurs='1' />
		</xs:sequence>
	</xs:complexType>

</xs:schema>